<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Applicants</title>
    <style>
        h1{
            color: green;
            font-family:roboto;
            font-size:50px;
            text-align: center;
        }
        body{
            padding:20px;
            margin:50px;
            background-color:lightgreen;
            font-family:roboto;
            text-align: center;
            font-size:30px;
        }
        a{
            color: black;
        }
    </style>
</head>
<body>
<center>
    <h2>Job Applicants</h2>
    <table border=5>
        <thead>
            <th>Name</th>
            <th>Phone</th>
            <th>Description</th>
        </thead>
        {% for x in rows %}
        <tr>
            <td>{{x["name"]}}</td>
            <td>{{x["number"]}}</td>
            <td>{{x["description"]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="/adminhome">Go Back</a>
    </center>
</body>
</html>